<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddressingModes</key>
	<array>
		<integer>10</integer>
		<integer>0</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>255</integer>
		<integer>13</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>6</integer>
		<integer>8</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>255</integer>
		<integer>13</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>6</integer>
		<integer>8</integer>
		<integer>255</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>255</integer>
		<integer>13</integer>
		<integer>0</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>255</integer>
		<integer>13</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>6</integer>
		<integer>13</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>255</integer>
		<integer>13</integer>
		<integer>0</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>255</integer>
		<integer>13</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>255</integer>
		<integer>11</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>6</integer>
		<integer>13</integer>
		<integer>255</integer>
		<integer>14</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>0</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>2</integer>
		<integer>10</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>12</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>6</integer>
		<integer>10</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>255</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>2</integer>
		<integer>10</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>12</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>6</integer>
		<integer>10</integer>
		<integer>255</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>6</integer>
		<integer>255</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>2</integer>
		<integer>10</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>6</integer>
		<integer>13</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>255</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>2</integer>
		<integer>10</integer>
		<integer>255</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>255</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>255</integer>
		<integer>10</integer>
		<integer>6</integer>
		<integer>13</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>255</integer>
	</array>
	<key>Mnemonics</key>
	<array>
		<string>BRK</string>
		<string>ORA</string>
		<string>???</string>
		<string>???</string>
		<string>TSB</string>
		<string>ORA</string>
		<string>ASL</string>
		<string>???</string>
		<string>PHP</string>
		<string>ORA</string>
		<string>ASL</string>
		<string>???</string>
		<string>TSB</string>
		<string>ORA</string>
		<string>ASL</string>
		<string>???</string>
		<string>BPL</string>
		<string>ORA</string>
		<string>ORA</string>
		<string>???</string>
		<string>TRB</string>
		<string>ORA</string>
		<string>ASL</string>
		<string>???</string>
		<string>CLC</string>
		<string>ORA</string>
		<string>INC</string>
		<string>???</string>
		<string>TRB</string>
		<string>ORA</string>
		<string>ASL</string>
		<string>???</string>
		<string>JSR</string>
		<string>AND</string>
		<string>???</string>
		<string>???</string>
		<string>BIT</string>
		<string>AND</string>
		<string>ROL</string>
		<string>???</string>
		<string>PLP</string>
		<string>AND</string>
		<string>ROL</string>
		<string>???</string>
		<string>BIT</string>
		<string>AND</string>
		<string>ROL</string>
		<string>???</string>
		<string>BMI</string>
		<string>AND</string>
		<string>AND</string>
		<string>???</string>
		<string>BIT</string>
		<string>AND</string>
		<string>ROL</string>
		<string>???</string>
		<string>SEC</string>
		<string>AND</string>
		<string>DEC</string>
		<string>???</string>
		<string>BIT</string>
		<string>AND</string>
		<string>ROL</string>
		<string>???</string>
		<string>RTI</string>
		<string>EOR</string>
		<string>???</string>
		<string>???</string>
		<string>???</string>
		<string>EOR</string>
		<string>LSR</string>
		<string>???</string>
		<string>PHA</string>
		<string>EOR</string>
		<string>LSR</string>
		<string>???</string>
		<string>JMP</string>
		<string>EOR</string>
		<string>LSR</string>
		<string>???</string>
		<string>BVC</string>
		<string>EOR</string>
		<string>EOR</string>
		<string>???</string>
		<string>???</string>
		<string>EOR</string>
		<string>LSR</string>
		<string>???</string>
		<string>CLI</string>
		<string>EOR</string>
		<string>PHY</string>
		<string>???</string>
		<string>???</string>
		<string>EOR</string>
		<string>LSR</string>
		<string>???</string>
		<string>RTS</string>
		<string>ADC</string>
		<string>???</string>
		<string>???</string>
		<string>STZ</string>
		<string>ADC</string>
		<string>ROR</string>
		<string>???</string>
		<string>PLA</string>
		<string>ADC</string>
		<string>ROR</string>
		<string>???</string>
		<string>JMP</string>
		<string>ADC</string>
		<string>ROR</string>
		<string>???</string>
		<string>BVS</string>
		<string>ADC</string>
		<string>ADC</string>
		<string>???</string>
		<string>STZ</string>
		<string>ADC</string>
		<string>ROR</string>
		<string>???</string>
		<string>SEI</string>
		<string>ADC</string>
		<string>PLY</string>
		<string>???</string>
		<string>JMP</string>
		<string>ADC</string>
		<string>ROR</string>
		<string>???</string>
		<string>BRA</string>
		<string>STA</string>
		<string>???</string>
		<string>???</string>
		<string>STY</string>
		<string>STA</string>
		<string>STX</string>
		<string>???</string>
		<string>DEY</string>
		<string>BIT</string>
		<string>TXA</string>
		<string>???</string>
		<string>STY</string>
		<string>STA</string>
		<string>STX</string>
		<string>???</string>
		<string>BCC</string>
		<string>STA</string>
		<string>STA</string>
		<string>???</string>
		<string>STY</string>
		<string>STA</string>
		<string>STX</string>
		<string>???</string>
		<string>TYA</string>
		<string>STA</string>
		<string>TXS</string>
		<string>???</string>
		<string>STZ</string>
		<string>STA</string>
		<string>STZ</string>
		<string>???</string>
		<string>LDY</string>
		<string>LDA</string>
		<string>LDX</string>
		<string>???</string>
		<string>LDY</string>
		<string>LDA</string>
		<string>LDX</string>
		<string>???</string>
		<string>TAY</string>
		<string>LDA</string>
		<string>TAX</string>
		<string>???</string>
		<string>LDY</string>
		<string>LDA</string>
		<string>LDX</string>
		<string>???</string>
		<string>BCS</string>
		<string>LDA</string>
		<string>LDA</string>
		<string>???</string>
		<string>LDY</string>
		<string>LDA</string>
		<string>LDX</string>
		<string>???</string>
		<string>CLV</string>
		<string>LDA</string>
		<string>TSX</string>
		<string>???</string>
		<string>LDY</string>
		<string>LDA</string>
		<string>LDX</string>
		<string>???</string>
		<string>CPY</string>
		<string>CMP</string>
		<string>???</string>
		<string>???</string>
		<string>CPY</string>
		<string>CMP</string>
		<string>DEC</string>
		<string>???</string>
		<string>INY</string>
		<string>CMP</string>
		<string>DEX</string>
		<string>???</string>
		<string>CPY</string>
		<string>CMP</string>
		<string>DEC</string>
		<string>???</string>
		<string>BNE</string>
		<string>CMP</string>
		<string>CMP</string>
		<string>???</string>
		<string>???</string>
		<string>CMP</string>
		<string>DEC</string>
		<string>???</string>
		<string>CLD</string>
		<string>CMP</string>
		<string>PHX</string>
		<string>???</string>
		<string>???</string>
		<string>CMP</string>
		<string>DEC</string>
		<string>???</string>
		<string>CPX</string>
		<string>SBC</string>
		<string>???</string>
		<string>???</string>
		<string>CPX</string>
		<string>SBC</string>
		<string>INC</string>
		<string>???</string>
		<string>INX</string>
		<string>SBC</string>
		<string>NOP</string>
		<string>???</string>
		<string>CPX</string>
		<string>SBC</string>
		<string>INC</string>
		<string>???</string>
		<string>BEQ</string>
		<string>SBC</string>
		<string>SBC</string>
		<string>???</string>
		<string>???</string>
		<string>SBC</string>
		<string>INC</string>
		<string>???</string>
		<string>SED</string>
		<string>SBC</string>
		<string>PLX</string>
		<string>???</string>
		<string>???</string>
		<string>SBC</string>
		<string>INC</string>
		<string>???</string>
	</array>
	<key>OpcodeLengths</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
	</array>
</dict>
</plist>
