<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>128</key>
	<string>END</string>
	<key>129</key>
	<string>FOR</string>
	<key>130</key>
	<string>NEXT</string>
	<key>131</key>
	<string>DATA</string>
	<key>132</key>
	<string>INPUT</string>
	<key>133</key>
	<string>DEL</string>
	<key>134</key>
	<string>DIM</string>
	<key>135</key>
	<string>READ</string>
	<key>136</key>
	<string>GR</string>
	<key>137</key>
	<string>TEXT</string>
	<key>138</key>
	<string>PR#</string>
	<key>139</key>
	<string>IN#</string>
	<key>140</key>
	<string>CALL</string>
	<key>141</key>
	<string>PLOT</string>
	<key>142</key>
	<string>HLIN</string>
	<key>143</key>
	<string>VLIN</string>
	<key>144</key>
	<string>HGR2</string>
	<key>145</key>
	<string>HGR</string>
	<key>146</key>
	<string>HCOLOR=</string>
	<key>147</key>
	<string>HPLOT</string>
	<key>148</key>
	<string>DRAW</string>
	<key>149</key>
	<string>XDRAW</string>
	<key>150</key>
	<string>HTAB</string>
	<key>151</key>
	<string>HOME</string>
	<key>152</key>
	<string>ROT=</string>
	<key>153</key>
	<string>SCALE=</string>
	<key>154</key>
	<string>SHLOAD</string>
	<key>155</key>
	<string>TRACE</string>
	<key>156</key>
	<string>NOTRACE</string>
	<key>157</key>
	<string>NORMAL</string>
	<key>158</key>
	<string>INVERSE</string>
	<key>159</key>
	<string>FLASH</string>
	<key>160</key>
	<string>COLOR=</string>
	<key>161</key>
	<string>POP</string>
	<key>162</key>
	<string>VTAB</string>
	<key>163</key>
	<string>HIMEM:</string>
	<key>164</key>
	<string>LOMEM:</string>
	<key>165</key>
	<string>ONERR</string>
	<key>166</key>
	<string>RESUME</string>
	<key>167</key>
	<string>RECALL</string>
	<key>168</key>
	<string>STORE</string>
	<key>169</key>
	<string>SPEED=</string>
	<key>170</key>
	<string>LET</string>
	<key>171</key>
	<string>GOTO</string>
	<key>172</key>
	<string>RUN</string>
	<key>173</key>
	<string>IF</string>
	<key>174</key>
	<string>RESTORE</string>
	<key>175</key>
	<string>&amp;</string>
	<key>176</key>
	<string>GOSUB</string>
	<key>177</key>
	<string>RETURN</string>
	<key>178</key>
	<string>REM</string>
	<key>179</key>
	<string>STOP</string>
	<key>180</key>
	<string>ON</string>
	<key>181</key>
	<string>WAIT</string>
	<key>182</key>
	<string>LOAD</string>
	<key>183</key>
	<string>SAVE</string>
	<key>184</key>
	<string>DEF</string>
	<key>185</key>
	<string>POKE</string>
	<key>186</key>
	<string>PRINT</string>
	<key>187</key>
	<string>CONT</string>
	<key>188</key>
	<string>LIST</string>
	<key>189</key>
	<string>CLEAR</string>
	<key>190</key>
	<string>GET</string>
	<key>191</key>
	<string>NEW</string>
	<key>192</key>
	<string>TAB(</string>
	<key>193</key>
	<string>TO</string>
	<key>194</key>
	<string>FN</string>
	<key>195</key>
	<string>SPC(</string>
	<key>196</key>
	<string>THEN</string>
	<key>197</key>
	<string>AT</string>
	<key>198</key>
	<string>NOT</string>
	<key>199</key>
	<string>STEP</string>
	<key>200</key>
	<string>+</string>
	<key>201</key>
	<string>+</string>
	<key>202</key>
	<string>-</string>
	<key>203</key>
	<string>*</string>
	<key>204</key>
	<string>/</string>
	<key>205</key>
	<string>AND</string>
	<key>206</key>
	<string>OR</string>
	<key>207</key>
	<string>&gt;</string>
	<key>208</key>
	<string>=</string>
	<key>209</key>
	<string>&lt;</string>
	<key>210</key>
	<string>SGN</string>
	<key>211</key>
	<string>INT</string>
	<key>212</key>
	<string>ABS</string>
	<key>213</key>
	<string>USR</string>
	<key>214</key>
	<string>FRE</string>
	<key>215</key>
	<string>SCRN(</string>
	<key>216</key>
	<string>PDL</string>
	<key>217</key>
	<string>POS</string>
	<key>218</key>
	<string>SQR</string>
	<key>219</key>
	<string>RND</string>
	<key>220</key>
	<string>LOG</string>
	<key>221</key>
	<string>EXP</string>
	<key>222</key>
	<string>COS</string>
	<key>223</key>
	<string>SIN</string>
	<key>224</key>
	<string>TAN</string>
	<key>225</key>
	<string>ATN</string>
	<key>226</key>
	<string>PEEK</string>
	<key>227</key>
	<string>LEN</string>
	<key>228</key>
	<string>VAL</string>
	<key>230</key>
	<string>ASC</string>
	<key>231</key>
	<string>CHR$</string>
	<key>232</key>
	<string>LEFT$</string>
	<key>233</key>
	<string>RIGHT$</string>
	<key>234</key>
	<string>MID$</string>
</dict>
</plist>
